@page "/"

<h1>Sorteio DevCamp</h1>

<p>Você que assistiu minha talk sobre Blazor no VSSummit 2019, inscreva-se para ganhar 1 de 2 ingressos para o DevCamp 2019.
    <br/>
    Informe um e-mail válido para que eu possa entrar em contato com você após o sorteio, que realizarei na segunda-feira, dia 24/06/2019.</p>

<form>
    <div class="form-group">
        <label for="Name" class="control-label">Nome Completo</label>
        <input for="Name" class="form-control" @bind="@name" />
    </div>
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input for="Email" class="form-control" @bind="@email" />
    </div>
    <div class="form-group">
        <label for="Company" class="control-label">Empresa</label>
        <input for="Company" class="form-control" @bind="@company" />
    </div>
    <div class="form-group">
        <label for="Role" class="control-label">Cargo</label>
        <input for="Role" class="form-control" @bind="@role" />
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-info" 
                @onclick="@(async () => await SaveRegistration())" 
                data-dismiss="modal">Save</button>
    </div>
</form>

@functions {
    string name;
    string email;
    string company;
    string role;

    public async Task SaveRegistration()
    {

    }
}
